In [1]:
num1=100

In [2]:
if num1 > 90:
    print('The number is greater than 90')
    
else:
    print('The number is less than 90')

The number is greater than 90

In [3]:
if num1 > 90:
    print('The number is greater than 90') 
elif num1 == 90:
    print('The number is exactly 90')
else:
    print('The number is less than 90')

The number is greater than 90

In [4]:
ls = [1, 2, 30, 40, 500, 600]

In [5]:
ls

[1, 2, 30, 40, 500, 600]

In [6]:
1 in ls

True

In [7]:
3 in ls

False

In [8]:
30 in ls

True

In [9]:
4 not in ls

True

In [11]:
if 'perfect' in ls:
    print('The list has a string inside')
else:
    print('Our list consists only of integers')

Our list consists only of integers

In [27]:
ls.append(700)

In [28]:
ls

[1,
 2,
 30,
 40,
 500,
 600,
 10,
 600,
 7000,
 600,
 7000,
 600,
 7000,
 700,
 700,
 700,
 700,
 700]

In [29]:
ls.extend([6,8,10,100])

In [30]:
ls

[1,
 2,
 30,
 40,
 500,
 600,
 10,
 600,
 7000,
 600,
 7000,
 600,
 7000,
 700,
 700,
 700,
 700,
 700,
 6,
 8,
 10,
 100]

In [31]:
for el in ls:
    print(el)

1
2
30
40
500
600
10
600
7000
600
7000
600
7000
700
700
700
700
700
6
8
10
100

In [32]:
for i in range(15):
    i**=2
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [33]:
for i in range(15):
    i**=2
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [34]:
num = 7
num

7

In [35]:
while num < 17:
    print(num)
    num+=1

7
8
9
10
11
12
13
14
15
16